#!/bin/bash -eu

# path to my_configuration.py file
MY_CONFIGURATION_PATH=


if [[ -n "${PYTHONPATH:=}" ]]; then
    PREV=":$PYTHONPATH"
else
    PREV=""
fi

MY_DIR="$(dirname "$0")"
MY_CONFIGURATION_DIR="$(dirname "$MY_CONFIGURATION_PATH")"
export PYTHONPATH="$MY_CONFIGURATION_DIR:$MY_DIR""$PREV"
echo "$PYTHONPATH"

exec "$@"
