#!/bin/bash -eu

# set path to my_configuration.py file here
MY_CONFIGURATION_PATH=


if [[ -n "${PYTHONPATH:=}" ]]; then
    PREV=":$PYTHONPATH"
else
    PREV=""
fi

MY_DIR="$(dirname "$(readlink -f "$0")")"
MY_CONFIGURATION_DIR="$(dirname "$(readlink -f "$MY_CONFIGURATION_PATH")")"
export PYTHONPATH="$MY_CONFIGURATION_DIR:$MY_DIR""$PREV"

exec "$@"
